openapi: 3.0.0
info:
  contact:
    email: rhosak-support@redhat.com
    name: Red Hat OpenShift Streams for Apache Kafka Support
  description: Connector Management API is a REST API to manage connectors.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: Connector Management API
  version: 0.1.0
servers:
- description: Main (production) server
  url: https://api.openshift.com
- description: Staging server
  url: https://api.stage.openshift.com
- description: localhost
  url: http://localhost:8000
- description: current domain
  url: /
tags:
- name: Connector Types
- name: Connectors
- name: Connector Clusters
- name: Connector Service
- name: Connector Namespaces
paths:
  /api/connector_mgmt/v1:
    get:
      description: Returns the version metadata
      operationId: getVersionMetadata
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionMetadata'
          description: Version metadata
      summary: Returns the version metadata
      tags:
      - Connector Service
      x-accepts: application/json
  /api/connector_mgmt/v1/kafka_connector_types/{connector_type_id}:
    get:
      description: Get a connector type by id
      operationId: getConnectorTypeByID
      parameters:
      - description: The id of the connector type
        explode: false
        in: path
        name: connector_type_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                ConnectorTypeExample:
                  $ref: '#/components/examples/ConnectorTypeExample'
              schema:
                $ref: '#/components/schemas/ConnectorType'
          description: The connector type matching the request
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "404":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: No matching connector type exists
        "410":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/410Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Connector type doesn't exist anymore
        "500":
          content:
            application/json:
              examples:
                "500Example":
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Get a connector type by id
      tags:
      - Connector Types
      x-accepts: application/json
  /api/connector_mgmt/v1/kafka_connector_types:
    get:
      description: Returns a list of connector types
      operationId: getConnectorTypes
      parameters:
      - description: Page index
        examples:
          page:
            value: "1"
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: string
        style: form
      - description: Number of items in each page
        examples:
          size:
            value: "100"
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Specifies the order by criteria. The syntax of this parameter is
          similar to the syntax of the `order by` clause of an SQL statement.
          Each query can be ordered by any of the underlying resource fields supported in the search parameter.
          For example, to return all Connector types ordered by their name, use the following syntax:

          ```sql
          name asc
          ```

          To return all Connector types ordered by their name _and_ version, use the following syntax:

          ```sql
          name asc, version asc
          ```

          If the parameter isn't provided, or if the value is empty, then
          the results are ordered by name.
        examples:
          orderBy:
            value: name asc
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: |
          Search criteria.

          The syntax of this parameter is similar to the syntax of the `where` clause of a
          SQL statement.

          Allowed fields in the search depend on the resource type:

          * Cluster: id, created_at, updated_at, owner, organisation_id, name, state, client_id
          * Namespace: id, created_at, updated_at, name, cluster_id, owner, expiration, tenant_user_id, tenant_organisation_id, state
          * Connector Types: id, created_at, updated_at, version, name, description, label, channel, featured_rank, pricing_tier
          * Connectors: id, created_at, updated_at, name, owner, organisation_id, connector_type_id, desired_state, state, channel, namespace_id, kafka_id, kafka_bootstrap_server, service_account_client_id, schema_registry_id, schema_registry_url

          Allowed operators are `<>`, `=`, `LIKE`, or `ILIKE`.
          Allowed conjunctive operators are `AND` and `OR`. However, you can use a maximum of 10 conjunctions in a search query.

          Examples:

          To return a Connector Type with the name `aws-sqs-source` and the channel `stable`, use the following syntax:

          ```
          name = aws-sqs-source and channel = stable
          ```

          To return a connector instance with a name that starts with `aws`, use the following syntax:

          ```
          name like aws%25
          ```

          To return a connector type with a name containing `aws` matching any character case combination, use the following syntax:

          ```
          name ilike %25aws%25
          ```

          If the parameter isn't provided, or if the value is empty, then all the resources
          that the user has permission to see are returned.

          Note. If the query is invalid, an error is returned.
        examples:
          search:
            value: name = aws-sqs-source and channel = stable
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorTypeList'
          description: A list of connector types
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "500":
          content:
            application/json:
              examples:
                "500Example":
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Returns a list of connector types
      tags:
      - Connector Types
      x-accepts: application/json
  /api/connector_mgmt/v1/kafka_connector_types/labels:
    get:
      description: Returns a list of connector type labels
      operationId: getConnectorTypeLabels
      parameters:
      - description: |-
          Specifies the order by criteria. The syntax of this parameter is
          similar to the syntax of the `order by` clause of an SQL statement.
          Each query can be ordered by any of the underlying resource fields supported in the search parameter.
          For example, to return all Connector types ordered by their name, use the following syntax:

          ```sql
          name asc
          ```

          To return all Connector types ordered by their name _and_ version, use the following syntax:

          ```sql
          name asc, version asc
          ```

          If the parameter isn't provided, or if the value is empty, then
          the results are ordered by name.
        examples:
          orderBy:
            value: name asc
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: |
          Search criteria.

          The syntax of this parameter is similar to the syntax of the `where` clause of a
          SQL statement.

          Allowed fields in the search depend on the resource type:

          * Cluster: id, created_at, updated_at, owner, organisation_id, name, state, client_id
          * Namespace: id, created_at, updated_at, name, cluster_id, owner, expiration, tenant_user_id, tenant_organisation_id, state
          * Connector Types: id, created_at, updated_at, version, name, description, label, channel, featured_rank, pricing_tier
          * Connectors: id, created_at, updated_at, name, owner, organisation_id, connector_type_id, desired_state, state, channel, namespace_id, kafka_id, kafka_bootstrap_server, service_account_client_id, schema_registry_id, schema_registry_url

          Allowed operators are `<>`, `=`, `LIKE`, or `ILIKE`.
          Allowed conjunctive operators are `AND` and `OR`. However, you can use a maximum of 10 conjunctions in a search query.

          Examples:

          To return a Connector Type with the name `aws-sqs-source` and the channel `stable`, use the following syntax:

          ```
          name = aws-sqs-source and channel = stable
          ```

          To return a connector instance with a name that starts with `aws`, use the following syntax:

          ```
          name like aws%25
          ```

          To return a connector type with a name containing `aws` matching any character case combination, use the following syntax:

          ```
          name ilike %25aws%25
          ```

          If the parameter isn't provided, or if the value is empty, then all the resources
          that the user has permission to see are returned.

          Note. If the query is invalid, an error is returned.
        examples:
          search:
            value: name = aws-sqs-source and channel = stable
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorTypeLabelCountList'
          description: A list of connector type labels
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "500":
          content:
            application/json:
              examples:
                "500Example":
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Returns a list of connector type labels
      tags:
      - Connector Types
      x-accepts: application/json
  /api/connector_mgmt/v1/kafka_connectors:
    get:
      description: Returns a list of connector types
      operationId: listConnectors
      parameters:
      - description: Page index
        examples:
          page:
            value: "1"
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: string
        style: form
      - description: Number of items in each page
        examples:
          size:
            value: "100"
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Specifies the order by criteria. The syntax of this parameter is
          similar to the syntax of the `order by` clause of an SQL statement.
          Each query can be ordered by any of the underlying resource fields supported in the search parameter.
          For example, to return all Connector types ordered by their name, use the following syntax:

          ```sql
          name asc
          ```

          To return all Connector types ordered by their name _and_ version, use the following syntax:

          ```sql
          name asc, version asc
          ```

          If the parameter isn't provided, or if the value is empty, then
          the results are ordered by name.
        examples:
          orderBy:
            value: name asc
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: |
          Search criteria.

          The syntax of this parameter is similar to the syntax of the `where` clause of a
          SQL statement.

          Allowed fields in the search depend on the resource type:

          * Cluster: id, created_at, updated_at, owner, organisation_id, name, state, client_id
          * Namespace: id, created_at, updated_at, name, cluster_id, owner, expiration, tenant_user_id, tenant_organisation_id, state
          * Connector Types: id, created_at, updated_at, version, name, description, label, channel, featured_rank, pricing_tier
          * Connectors: id, created_at, updated_at, name, owner, organisation_id, connector_type_id, desired_state, state, channel, namespace_id, kafka_id, kafka_bootstrap_server, service_account_client_id, schema_registry_id, schema_registry_url

          Allowed operators are `<>`, `=`, `LIKE`, or `ILIKE`.
          Allowed conjunctive operators are `AND` and `OR`. However, you can use a maximum of 10 conjunctions in a search query.

          Examples:

          To return a Connector Type with the name `aws-sqs-source` and the channel `stable`, use the following syntax:

          ```
          name = aws-sqs-source and channel = stable
          ```

          To return a connector instance with a name that starts with `aws`, use the following syntax:

          ```
          name like aws%25
          ```

          To return a connector type with a name containing `aws` matching any character case combination, use the following syntax:

          ```
          name ilike %25aws%25
          ```

          If the parameter isn't provided, or if the value is empty, then all the resources
          that the user has permission to see are returned.

          Note. If the query is invalid, an error is returned.
        examples:
          search:
            value: name = aws-sqs-source and channel = stable
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorList'
          description: A list of connectors
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "500":
          content:
            application/json:
              examples:
                "500Example":
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Returns a list of connector types
      tags:
      - Connectors
      x-accepts: application/json
    post:
      description: Create a new connector
      operationId: createConnector
      parameters:
      - description: Perform the action in an asynchronous manner
        explode: true
        in: query
        name: async
        required: true
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            examples:
              ConnectorCreateExample:
                $ref: '#/components/examples/ConnectorCreateExample'
            schema:
              $ref: '#/components/schemas/ConnectorRequest'
        description: Connector data
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connector'
          description: Accepted
        "400":
          content:
            application/json:
              examples:
                "400CreationExample":
                  $ref: '#/components/examples/400CreationExample'
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation errors occurred
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "404":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: The requested resource doesn't exist
        "500":
          content:
            application/json:
              examples:
                "500Example":
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error occurred creating the connector
      security:
      - Bearer: []
      summary: Create a new connector
      tags:
      - Connectors
      x-contentType: application/json
      x-accepts: application/json
  /api/connector_mgmt/v1/kafka_connectors/{id}:
    delete:
      description: Delete a connector
      operationId: deleteConnector
      parameters:
      - description: The ID of record
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Deleted
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "404":
          content:
            application/json:
              examples:
                "404DeleteExample":
                  $ref: '#/components/examples/404DeleteExample'
              schema:
                $ref: '#/components/schemas/Error'
          description: No kafka request with specified ID exists
        "500":
          content:
            application/json:
              examples:
                "500DeleteExample":
                  $ref: '#/components/examples/500DeleteExample'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Delete a connector
      tags:
      - Connectors
      x-accepts: application/json
    get:
      description: Get a connector
      operationId: getConnector
      parameters:
      - description: The ID of record
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connector'
          description: The connector matching the request
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "404":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: No matching connector exists
        "410":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/410Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: The requested resource doesn't exist anymore
        "500":
          content:
            application/json:
              examples:
                "500Example":
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Get a connector
      tags:
      - Connectors
      x-accepts: application/json
    patch:
      description: Patch a connector
      operationId: patchConnector
      parameters:
      - description: The ID of record
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              type: object
          application/json-patch+json:
            schema:
              description: A JSON Patch, RFC 6902 - https://tools.ietf.org/html/rfc6902
              type: object
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorRequest'
        description: Data to patch the connector with
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connector'
          description: The connector matching the request
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "404":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: No matching resource exists
        "410":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/410Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: The requested resource doesn't exist anymore
        "500":
          content:
            application/json:
              examples:
                "500Example":
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Patch a connector
      tags:
      - Connectors
      x-contentType: application/merge-patch+json
      x-accepts: application/json
  /api/connector_mgmt/v1/kafka_connector_clusters:
    get:
      description: Returns a list of connector clusters
      operationId: listConnectorClusters
      parameters:
      - description: Page index
        examples:
          page:
            value: "1"
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: string
        style: form
      - description: Number of items in each page
        examples:
          size:
            value: "100"
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Specifies the order by criteria. The syntax of this parameter is
          similar to the syntax of the `order by` clause of an SQL statement.
          Each query can be ordered by any of the underlying resource fields supported in the search parameter.
          For example, to return all Connector types ordered by their name, use the following syntax:

          ```sql
          name asc
          ```

          To return all Connector types ordered by their name _and_ version, use the following syntax:

          ```sql
          name asc, version asc
          ```

          If the parameter isn't provided, or if the value is empty, then
          the results are ordered by name.
        examples:
          orderBy:
            value: name asc
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: |
          Search criteria.

          The syntax of this parameter is similar to the syntax of the `where` clause of a
          SQL statement.

          Allowed fields in the search depend on the resource type:

          * Cluster: id, created_at, updated_at, owner, organisation_id, name, state, client_id
          * Namespace: id, created_at, updated_at, name, cluster_id, owner, expiration, tenant_user_id, tenant_organisation_id, state
          * Connector Types: id, created_at, updated_at, version, name, description, label, channel, featured_rank, pricing_tier
          * Connectors: id, created_at, updated_at, name, owner, organisation_id, connector_type_id, desired_state, state, channel, namespace_id, kafka_id, kafka_bootstrap_server, service_account_client_id, schema_registry_id, schema_registry_url

          Allowed operators are `<>`, `=`, `LIKE`, or `ILIKE`.
          Allowed conjunctive operators are `AND` and `OR`. However, you can use a maximum of 10 conjunctions in a search query.

          Examples:

          To return a Connector Type with the name `aws-sqs-source` and the channel `stable`, use the following syntax:

          ```
          name = aws-sqs-source and channel = stable
          ```

          To return a connector instance with a name that starts with `aws`, use the following syntax:

          ```
          name like aws%25
          ```

          To return a connector type with a name containing `aws` matching any character case combination, use the following syntax:

          ```
          name ilike %25aws%25
          ```

          If the parameter isn't provided, or if the value is empty, then all the resources
          that the user has permission to see are returned.

          Note. If the query is invalid, an error is returned.
        examples:
          search:
            value: name = aws-sqs-source and channel = stable
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorClusterList'
          description: A list of connector clusters
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "500":
          content:
            application/json:
              examples:
                "500Example":
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Returns a list of connector clusters
      tags:
      - Connector Clusters
      x-accepts: application/json
    post:
      description: Create a new connector cluster
      operationId: createConnectorCluster
      parameters:
      - description: Perform the action in an asynchronous manner
        explode: true
        in: query
        name: async
        required: true
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            examples:
              ConnectorClusterCreateExample:
                $ref: '#/components/examples/ConnectorClusterCreateExample'
            schema:
              $ref: '#/components/schemas/ConnectorClusterRequest'
        description: Connector cluster data
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorCluster'
          description: Accepted
        "400":
          content:
            application/json:
              examples:
                "400CreationExample":
                  $ref: '#/components/examples/400CreationExample'
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation errors occurred
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "404":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: The requested resource doesn't exist
        "500":
          content:
            application/json:
              examples:
                "500Example":
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error occurred creating the connector cluster
      security:
      - Bearer: []
      summary: Create a new connector cluster
      tags:
      - Connector Clusters
      x-contentType: application/json
      x-accepts: application/json
  /api/connector_mgmt/v1/kafka_connector_clusters/{connector_cluster_id}:
    delete:
      description: Delete a connector cluster
      operationId: deleteConnectorCluster
      parameters:
      - description: The id of the connector cluster
        explode: false
        in: path
        name: connector_cluster_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Deleted
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "404":
          content:
            application/json:
              examples:
                "404DeleteExample":
                  $ref: '#/components/examples/404DeleteExample'
              schema:
                $ref: '#/components/schemas/Error'
          description: No resource with specified ID exists
        "500":
          content:
            application/json:
              examples:
                "500DeleteExample":
                  $ref: '#/components/examples/500DeleteExample'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Delete a connector cluster
      tags:
      - Connector Clusters
      x-accepts: application/json
    get:
      description: Get a connector cluster
      operationId: getConnectorCluster
      parameters:
      - description: The id of the connector cluster
        explode: false
        in: path
        name: connector_cluster_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorCluster'
          description: The connector cluster matching the request
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "404":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: No matching connector cluster type exists
        "410":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/410Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: The requested resource doesn't exist anymore
        "500":
          content:
            application/json:
              examples:
                "500Example":
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Get a connector cluster
      tags:
      - Connector Clusters
      x-accepts: application/json
    put:
      description: udpate a connector cluster
      operationId: updateConnectorClusterById
      parameters:
      - description: The id of the connector cluster
        explode: false
        in: path
        name: connector_cluster_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorClusterRequest'
        description: Data to updated connector with
        required: true
      responses:
        "204":
          description: Cluster status is updated
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "404":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: No matching connector cluster exists
        "500":
          content:
            application/json:
              examples:
                "500Example":
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: udpate a connector cluster
      tags:
      - Connector Clusters
      x-contentType: application/json
      x-accepts: application/json
  /api/connector_mgmt/v1/kafka_connector_clusters/{connector_cluster_id}/addon_parameters:
    get:
      description: Get a connector cluster's addon parameters
      operationId: getConnectorClusterAddonParameters
      parameters:
      - description: The id of the connector cluster
        explode: false
        in: path
        name: connector_cluster_id
        required: true
        schema:
          type: string
        style: simple
      - description: Resets cluster service account credentials when true
        explode: true
        in: query
        name: reset_credentials
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonParameterList'
          description: The parameters that should be used to configure the managed
            connector addon on the cluster.
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "404":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: No matching connector cluster type exists
        "410":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/410Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: The requested resource doesn't exist anymore
        "500":
          content:
            application/json:
              examples:
                "500Example":
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Get a connector cluster's addon parameters
      tags:
      - Connector Clusters
      x-accepts: application/json
  /api/connector_mgmt/v1/kafka_connector_clusters/{connector_cluster_id}/namespaces:
    get:
      description: Get a connector cluster's namespaces
      operationId: getConnectorClusterNamespaces
      parameters:
      - description: The id of the connector cluster
        explode: false
        in: path
        name: connector_cluster_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page index
        examples:
          page:
            value: "1"
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: string
        style: form
      - description: Number of items in each page
        examples:
          size:
            value: "100"
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Specifies the order by criteria. The syntax of this parameter is
          similar to the syntax of the `order by` clause of an SQL statement.
          Each query can be ordered by any of the underlying resource fields supported in the search parameter.
          For example, to return all Connector types ordered by their name, use the following syntax:

          ```sql
          name asc
          ```

          To return all Connector types ordered by their name _and_ version, use the following syntax:

          ```sql
          name asc, version asc
          ```

          If the parameter isn't provided, or if the value is empty, then
          the results are ordered by name.
        examples:
          orderBy:
            value: name asc
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: |
          Search criteria.

          The syntax of this parameter is similar to the syntax of the `where` clause of a
          SQL statement.

          Allowed fields in the search depend on the resource type:

          * Cluster: id, created_at, updated_at, owner, organisation_id, name, state, client_id
          * Namespace: id, created_at, updated_at, name, cluster_id, owner, expiration, tenant_user_id, tenant_organisation_id, state
          * Connector Types: id, created_at, updated_at, version, name, description, label, channel, featured_rank, pricing_tier
          * Connectors: id, created_at, updated_at, name, owner, organisation_id, connector_type_id, desired_state, state, channel, namespace_id, kafka_id, kafka_bootstrap_server, service_account_client_id, schema_registry_id, schema_registry_url

          Allowed operators are `<>`, `=`, `LIKE`, or `ILIKE`.
          Allowed conjunctive operators are `AND` and `OR`. However, you can use a maximum of 10 conjunctions in a search query.

          Examples:

          To return a Connector Type with the name `aws-sqs-source` and the channel `stable`, use the following syntax:

          ```
          name = aws-sqs-source and channel = stable
          ```

          To return a connector instance with a name that starts with `aws`, use the following syntax:

          ```
          name like aws%25
          ```

          To return a connector type with a name containing `aws` matching any character case combination, use the following syntax:

          ```
          name ilike %25aws%25
          ```

          If the parameter isn't provided, or if the value is empty, then all the resources
          that the user has permission to see are returned.

          Note. If the query is invalid, an error is returned.
        examples:
          search:
            value: name = aws-sqs-source and channel = stable
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorNamespaceList'
          description: The namespaces visible to user in the cluster.
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "404":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: No matching connector cluster type exists
        "500":
          content:
            application/json:
              examples:
                "500Example":
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Get a connector cluster's namespaces
      tags:
      - Connector Clusters
      x-accepts: application/json
  /api/connector_mgmt/v1/kafka_connector_namespaces:
    get:
      description: Returns a list of connector namespaces
      operationId: listConnectorNamespaces
      parameters:
      - description: Page index
        examples:
          page:
            value: "1"
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: string
        style: form
      - description: Number of items in each page
        examples:
          size:
            value: "100"
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Specifies the order by criteria. The syntax of this parameter is
          similar to the syntax of the `order by` clause of an SQL statement.
          Each query can be ordered by any of the underlying resource fields supported in the search parameter.
          For example, to return all Connector types ordered by their name, use the following syntax:

          ```sql
          name asc
          ```

          To return all Connector types ordered by their name _and_ version, use the following syntax:

          ```sql
          name asc, version asc
          ```

          If the parameter isn't provided, or if the value is empty, then
          the results are ordered by name.
        examples:
          orderBy:
            value: name asc
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: |
          Search criteria.

          The syntax of this parameter is similar to the syntax of the `where` clause of a
          SQL statement.

          Allowed fields in the search depend on the resource type:

          * Cluster: id, created_at, updated_at, owner, organisation_id, name, state, client_id
          * Namespace: id, created_at, updated_at, name, cluster_id, owner, expiration, tenant_user_id, tenant_organisation_id, state
          * Connector Types: id, created_at, updated_at, version, name, description, label, channel, featured_rank, pricing_tier
          * Connectors: id, created_at, updated_at, name, owner, organisation_id, connector_type_id, desired_state, state, channel, namespace_id, kafka_id, kafka_bootstrap_server, service_account_client_id, schema_registry_id, schema_registry_url

          Allowed operators are `<>`, `=`, `LIKE`, or `ILIKE`.
          Allowed conjunctive operators are `AND` and `OR`. However, you can use a maximum of 10 conjunctions in a search query.

          Examples:

          To return a Connector Type with the name `aws-sqs-source` and the channel `stable`, use the following syntax:

          ```
          name = aws-sqs-source and channel = stable
          ```

          To return a connector instance with a name that starts with `aws`, use the following syntax:

          ```
          name like aws%25
          ```

          To return a connector type with a name containing `aws` matching any character case combination, use the following syntax:

          ```
          name ilike %25aws%25
          ```

          If the parameter isn't provided, or if the value is empty, then all the resources
          that the user has permission to see are returned.

          Note. If the query is invalid, an error is returned.
        examples:
          search:
            value: name = aws-sqs-source and channel = stable
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorNamespaceList'
          description: A list of connector namespaces
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "500":
          content:
            application/json:
              examples:
                "500Example":
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Returns a list of connector namespaces
      tags:
      - Connector Namespaces
      x-accepts: application/json
  /api/connector_mgmt/v1/kafka_connector_namespaces/{connector_namespace_id}:
    get:
      description: Get a connector namespace
      operationId: getConnectorNamespace
      parameters:
      - description: The id of the connector namespace
        explode: false
        in: path
        name: connector_namespace_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorNamespace'
          description: The connector namespace matching the request
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "404":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: No matching connector namespace type exists
        "500":
          content:
            application/json:
              examples:
                "500Example":
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Get a connector namespace
      tags:
      - Connector Namespaces
      x-accepts: application/json
  /api/connector_mgmt/v1/kafka_connector_namespaces/eval:
    post:
      description: Create a new evaluation connector namespace
      operationId: createEvaluationNamespace
      requestBody:
        content:
          application/json:
            examples:
              ConnectorNamespaceEvalCreateExample:
                $ref: '#/components/examples/ConnectorNamespaceEvalCreateExample'
            schema:
              $ref: '#/components/schemas/ConnectorNamespaceEvalRequest'
        description: Connector namespace data
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorNamespace'
          description: Accepted
        "400":
          content:
            application/json:
              examples:
                "400CreationExample":
                  $ref: '#/components/examples/400CreationExample'
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation errors occurred
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "404":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: The requested resource doesn't exist
        "500":
          content:
            application/json:
              examples:
                "500Example":
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error occurred creating the connector namespace
      security:
      - Bearer: []
      summary: Create a new short lived evaluation connector namespace
      tags:
      - Connector Namespaces
      x-contentType: application/json
      x-accepts: application/json
components:
  examples:
    ConnectorClusterCreateExample:
      value:
        name: MyCluster
    ConnectorTypeExample:
      value:
        id: log_sink_0.1
        kind: ConnectorType
        href: /api/connector_mgmt/v1/kafka_connector_types/log_sink_0.1
        name: Log Sink
        version: "0.1"
        channels:
        - stable
        description: Log Sink
        icon_href: /api/connector_mgmt/v1/kafka_connector_types/log_sink.png
        labels:
        - sink
        annotations:
        - cos.bf2.org/name: value
        capabilities:
        - data_shape
        - processors
        schema:
          properties:
            common:
              required: []
              title: Log
              type: object
              properties:
                multi_line:
                  default: false
                  description: Multi Line
                  title: Multi Line
                  type: boolean
                  x-group: endpoint
                show_all:
                  default: false
                  description: Show All
                  title: Show All
                  type: boolean
                  x-group: endpoint
            topics:
              description: Comma separated list of Kafka topic names
              title: Topic names
              type: string
              x-group: kafka
            steps:
              type: array
              items:
                oneOf:
                - properties:
                    insert_field:
                      description: Adds a custom field with a constant value to the
                        message in transit.
                      properties:
                        field:
                          description: The name of the field to be added
                          title: Field
                          type: string
                        value:
                          description: The value of the field
                          title: Value
                          type: string
                      required:
                      - field
                      - value
                      title: Insert Field Action
                      type: object
                  required:
                  - insert_field
                  type: object
                - properties:
                    extract_field:
                      description: Extract a field from the body
                      properties:
                        field:
                          description: The name of the field to be added
                          title: Field
                          type: string
                      required:
                      - field
                      title: Extract Field Action
                      type: object
                  required:
                  - extract_field
                  type: object
                - properties:
                    has_header_filter:
                      description: Filter based on the presence of one header
                      properties:
                        name:
                          description: The header name to evaluate
                          example: headerName
                          title: Header Name
                          type: string
                      required:
                      - name
                      title: Has Header Filter Action
                      type: object
                  required:
                  - has_header_filter
                  type: object
    ConnectorCreateExample:
      value:
        name: MyLogger
        namespace_id: 9bsv0s7tne7g02gh5g4g
        kafka:
          id: 9bsv0s6brfr002pfnkh0
          client_id: srvc-acct-162ef2d8-0209-4117-8462-df63c2025c26
          client_secret: b144d991-08eb-4472-8ec1-eb034c69231b
          url: foo-9bsv0s6brfr002pfnkh0.kas.acme.com:443
        schema_registry:
          id: 9bsv0s0k8lng031se9q0
          client_id: srvc-acct-e025265e-a88a-44fb-8450-ed010eb6bc5c
          client_secret: dc5a8298-bed7-422e-8947-f6fda69292ff
          url: bar-9bsv0s2mfca002t9q7sg.srs.acme.com:443
        channel: stable
        connector_type_id: log_sink_0.1
        connector:
          common:
            show_all: true
            multi_lines: true
          topics: foo,bar
          data_shape:
            key:
              format: STRING
            value:
              format: JSON
          processors:
          - insert_field:
              name: fieldName
              value: fieldValue
        desired_state: ready
        error_handling:
          dead_letter_queue:
            topic: dlq
        service_account:
          client_id: SA-121212
          client_secret: secret
    ConnectorNamespaceCreateExample:
      value:
        name: MyNamespace
        cluster_id: 9bsv0s7tne7g02gh5g4g
        annotations:
          cos.bf2.org/profile: default-profile
    ConnectorNamespaceEvalCreateExample:
      value:
        name: MyEvalNamespace
        annotations:
          cos.bf2.org/profile: evaluation-profile
    "400CreationExample":
      value:
        id: "103"
        kind: Error
        href: /api/connector_mgmt/v1/errors/103
        code: CONNECTOR-MGMT-103
        reason: Synchronous action is not supported, use async=true parameter
        operation_id: 1iWIimqGcrDuL61aUxIZqBTqNRa
    "400InvalidQueryExample":
      value:
        id: "203"
        kind: Error
        href: /api/connector_mgmt/v1/errors/23
        code: CONNECTOR-MGMT-23
        reason: |
          Failed to parse search query: Unable to list Kafka requests for api_kafka_service: CONNECTOR-MGMT-23:
          Failed to parse search query: Unsupported column name for search: 'id'. Supported column names are:
          region, name, cloud_provider, name, status. Query invalid: id = 123
        operation_id: 1lWDGuybIrEnxrAem724gqkkiDv
    "404Example":
      value:
        id: "404"
        kind: Error
        href: /api/connector_mgmt/v1/errors/7
        code: CONNECTOR-MGMT-7
        reason: The requested resource doesn't exist
    "410Example":
      value:
        id: "410"
        kind: Error
        href: /api/connector_mgmt/v1/errors/25
        code: CONNECTOR-MGMT-25
        reason: The requested resource has been deleted
    "404DeleteExample":
      value:
        id: "7"
        kind: Error
        href: /api/connector_mgmt/v1/errors/7
        code: CONNECTOR-MGMT-7
        reason: Connector with id='1iK3duVYIvv5YvLlyz1mGR3JyqN' not found
        operation_id: 1iYO7g2g6HTdUKUa2ksH82kQD3y
    "401Example":
      value:
        id: "11"
        kind: Error
        href: /api/connector_mgmt/v1/errors/11
        code: CONNECTOR-MGMT-11
        reason: 'Unable to verify JWT token: Required authorization token not found'
        operation_id: 1iY3UhEhwmXBpWPfI2lNekpd4ZD
    "409NameConflictExample":
      value:
        id: "36"
        kind: Error
        href: /api/connector_mgmt/v1/errors/36
        code: CONNECTOR-MGMT-36
        reason: Conenctor name is already used
        operation_id: 6kY0UiEkzkXCzWPeI2oYehd3ED
    "500Example":
      value:
        id: "9"
        kind: Error
        href: /api/connector_mgmt/v1/errors/9
        code: CONNECTOR-MGMT-9
        reason: Unspecified error
        operation_id: 1ieELvF9jMQY6YghfM9gGRsHvEW
    "500DeleteExample":
      value:
        id: "9"
        kind: Error
        href: /api/connector_mgmt/v1/errors/9
        code: CONNECTOR-MGMT-9
        reason: |
          Error deleting syncset: OCM-EX-9: failed to delete syncset: ext-serviceapi-1ix03lndlmq0qfc7sita5sljv8e
          for cluster id: 1g5d88q0lrcdv4g7alb7slfgnj3dhbsj%!(EXTRA *errors.Error=identifier
          is '404', code is 'CLUSTERS-MGMT-404' and operation identifier is '1g5or50viu07oealuehrkc26dgftj1ac':
          Cluster '1g5d88q0lrcdv4g7alb7slfgnj3dhbsj' not found)
        operation_id: 1iYTsWry6nsqb2sNmFj5bXpD7Ca
  parameters:
    id:
      description: The ID of record
      explode: false
      in: path
      name: id
      required: true
      schema:
        type: string
      style: simple
    page:
      description: Page index
      examples:
        page:
          value: "1"
      explode: true
      in: query
      name: page
      required: false
      schema:
        type: string
      style: form
    size:
      description: Number of items in each page
      examples:
        size:
          value: "100"
      explode: true
      in: query
      name: size
      required: false
      schema:
        type: string
      style: form
    orderBy:
      description: |-
        Specifies the order by criteria. The syntax of this parameter is
        similar to the syntax of the `order by` clause of an SQL statement.
        Each query can be ordered by any of the underlying resource fields supported in the search parameter.
        For example, to return all Connector types ordered by their name, use the following syntax:

        ```sql
        name asc
        ```

        To return all Connector types ordered by their name _and_ version, use the following syntax:

        ```sql
        name asc, version asc
        ```

        If the parameter isn't provided, or if the value is empty, then
        the results are ordered by name.
      examples:
        orderBy:
          value: name asc
      explode: true
      in: query
      name: orderBy
      required: false
      schema:
        type: string
      style: form
    search:
      description: |
        Search criteria.

        The syntax of this parameter is similar to the syntax of the `where` clause of a
        SQL statement.

        Allowed fields in the search depend on the resource type:

        * Cluster: id, created_at, updated_at, owner, organisation_id, name, state, client_id
        * Namespace: id, created_at, updated_at, name, cluster_id, owner, expiration, tenant_user_id, tenant_organisation_id, state
        * Connector Types: id, created_at, updated_at, version, name, description, label, channel, featured_rank, pricing_tier
        * Connectors: id, created_at, updated_at, name, owner, organisation_id, connector_type_id, desired_state, state, channel, namespace_id, kafka_id, kafka_bootstrap_server, service_account_client_id, schema_registry_id, schema_registry_url

        Allowed operators are `<>`, `=`, `LIKE`, or `ILIKE`.
        Allowed conjunctive operators are `AND` and `OR`. However, you can use a maximum of 10 conjunctions in a search query.

        Examples:

        To return a Connector Type with the name `aws-sqs-source` and the channel `stable`, use the following syntax:

        ```
        name = aws-sqs-source and channel = stable
        ```

        To return a connector instance with a name that starts with `aws`, use the following syntax:

        ```
        name like aws%25
        ```

        To return a connector type with a name containing `aws` matching any character case combination, use the following syntax:

        ```
        name ilike %25aws%25
        ```

        If the parameter isn't provided, or if the value is empty, then all the resources
        that the user has permission to see are returned.

        Note. If the query is invalid, an error is returned.
      examples:
        search:
          value: name = aws-sqs-source and channel = stable
      explode: true
      in: query
      name: search
      required: false
      schema:
        type: string
      style: form
  schemas:
    List:
      properties:
        kind:
          type: string
        page:
          type: integer
        size:
          type: integer
        total:
          type: integer
        items:
          items:
            $ref: '#/components/schemas/ObjectReference'
          type: array
      required:
      - items
      - kind
      - page
      - size
      - total
      type: object
    Error:
      example:
        reason: reason
        code: code
        kind: kind
        operation_id: operation_id
        id: id
        href: href
      nullable: true
      properties:
        reason:
          type: string
        operation_id:
          type: string
        id:
          type: string
        kind:
          type: string
        href:
          type: string
        code:
          type: string
      required:
      - code
      - href
      - id
      - kind
      - reason
      type: object
    ObjectReference:
      properties:
        id:
          type: string
        kind:
          type: string
        href:
          type: string
      type: object
    ObjectMeta:
      properties:
        owner:
          type: string
        created_at:
          format: date-time
          type: string
        modified_at:
          format: date-time
          type: string
      type: object
    ServiceConnectionSettings:
      properties:
        id:
          type: string
        url:
          type: string
      required:
      - id
      - url
    ServiceAccount:
      properties:
        client_id:
          type: string
        client_secret:
          type: string
      required:
      - client_id
      - client_secret
    VersionMetadata:
      allOf:
      - $ref: '#/components/schemas/ObjectReference'
      - $ref: '#/components/schemas/VersionMetadata_allOf'
    KafkaConnectionSettings:
      allOf:
      - $ref: '#/components/schemas/ServiceConnectionSettings'
      description: Holds the configuration to connect to a Kafka Instance.
    SchemaRegistryConnectionSettings:
      allOf:
      - $ref: '#/components/schemas/ServiceConnectionSettings'
      description: Holds the configuration to connect to a Schem Registry Instance.
    AddonParameter:
      description: A addon parameter
      example:
        id: id
        value: value
      properties:
        id:
          type: string
        value:
          type: string
      type: object
    AddonParameterList:
      description: A list of addon parameters
      items:
        $ref: '#/components/schemas/AddonParameter'
      type: array
    ConnectorResourceAnnotations:
      additionalProperties:
        type: string
      description: Name-value string annotations for resource
      type: object
    ConnectorClusterState:
      enum:
      - disconnected
      - ready
      - deleting
      type: string
    ConnectorClusterRequestMeta:
      properties:
        name:
          type: string
        annotations:
          additionalProperties:
            type: string
          description: Name-value string annotations for resource
          type: object
      type: object
    ConnectorClusterRequest:
      allOf:
      - $ref: '#/components/schemas/ConnectorClusterRequestMeta'
      description: Schema for the request to update a data plane cluster's name
    ConnectorClusterMeta:
      allOf:
      - $ref: '#/components/schemas/ObjectMeta'
      - $ref: '#/components/schemas/ConnectorClusterRequestMeta'
    ConnectorClusterStatus:
      properties:
        status:
          $ref: '#/components/schemas/ConnectorClusterStatus_status'
    ConnectorCluster:
      allOf:
      - $ref: '#/components/schemas/ObjectReference'
      - $ref: '#/components/schemas/ConnectorClusterMeta'
      - $ref: '#/components/schemas/ConnectorClusterStatus'
    ConnectorClusterList:
      allOf:
      - $ref: '#/components/schemas/List'
      - $ref: '#/components/schemas/ConnectorClusterList_allOf'
    Channel:
      default: stable
      enum:
      - stable
      type: string
    ConnectorDesiredState:
      enum:
      - unassigned
      - ready
      - stopped
      - deleted
      type: string
    ConnectorState:
      enum:
      - assigning
      - assigned
      - updating
      - ready
      - stopped
      - failed
      - deleting
      - deleted
      - provisioning
      - deprovisioning
      type: string
    ConnectorConfiguration:
      properties:
        kafka:
          $ref: '#/components/schemas/KafkaConnectionSettings'
        service_account:
          $ref: '#/components/schemas/ServiceAccount'
        schema_registry:
          $ref: '#/components/schemas/SchemaRegistryConnectionSettings'
        connector:
          type: object
      required:
      - connector
      - kafka
      - service_account
    ConnectorRequestMeta:
      properties:
        name:
          type: string
        connector_type_id:
          type: string
        namespace_id:
          type: string
        channel:
          $ref: '#/components/schemas/Channel'
        desired_state:
          $ref: '#/components/schemas/ConnectorDesiredState'
        annotations:
          additionalProperties:
            type: string
          description: Name-value string annotations for resource
          type: object
      required:
      - connector_type_id
      - desired_state
      - name
      - namespace_id
      type: object
    ConnectorRequest:
      allOf:
      - $ref: '#/components/schemas/ConnectorRequestMeta'
      - $ref: '#/components/schemas/ConnectorConfiguration'
    ConnectorMeta:
      allOf:
      - $ref: '#/components/schemas/ObjectMeta'
      - $ref: '#/components/schemas/ConnectorRequestMeta'
      - $ref: '#/components/schemas/ConnectorMeta_allOf'
    ConnectorStatus:
      properties:
        status:
          $ref: '#/components/schemas/ConnectorStatus_status'
    Connector:
      allOf:
      - $ref: '#/components/schemas/ObjectReference'
      - $ref: '#/components/schemas/ConnectorMeta'
      - $ref: '#/components/schemas/ConnectorConfiguration'
      - $ref: '#/components/schemas/ConnectorStatus'
    ConnectorList:
      allOf:
      - $ref: '#/components/schemas/List'
      - $ref: '#/components/schemas/ConnectorList_allOf'
    ConnectorType:
      allOf:
      - $ref: '#/components/schemas/ObjectReference'
      - $ref: '#/components/schemas/ConnectorType_allOf'
      description: Represents a connector type supported by the API
      required:
      - name
      - schema
      - version
    ConnectorTypeList:
      allOf:
      - $ref: '#/components/schemas/List'
      - $ref: '#/components/schemas/ConnectorTypeList_allOf'
    ConnectorTypeLabelCount:
      description: Represents a connector type label and the number of types with
        that label
      example:
        count: 0
        label: label
      properties:
        label:
          description: Name of the connector type label.
          type: string
        count:
          description: Number of connector types with this label.
          format: int32
          type: integer
      required:
      - count
      - label
      type: object
    ConnectorTypeLabelCountList:
      example:
        items:
        - count: 0
          label: label
        - count: 0
          label: label
      properties:
        items:
          items:
            $ref: '#/components/schemas/ConnectorTypeLabelCount'
          type: array
      type: object
    ConnectorNamespaceRequestMeta:
      properties:
        name:
          description: Namespace name must match pattern `^(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])?$`,
            or it may be empty to be auto-generated.
          pattern: ^(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])?$
          type: string
        annotations:
          additionalProperties:
            type: string
          description: Name-value string annotations for resource
          type: object
      type: object
    ConnectorNamespaceQuota:
      properties:
        connectors:
          format: int32
          type: integer
        memory_requests:
          description: Memory quota for limits or requests
          pattern: ^([+-]?[0-9.]+)([eEinumkKMGTP]*[-+]?[0-9]*)$
          type: string
        memory_limits:
          description: Memory quota for limits or requests
          pattern: ^([+-]?[0-9.]+)([eEinumkKMGTP]*[-+]?[0-9]*)$
          type: string
        cpu_requests:
          description: CPU quota for limits or requests
          pattern: ^([+-]?[0-9.]+)([eEinumkKMGTP]*[-+]?[0-9]*)$
          type: string
        cpu_limits:
          description: CPU quota for limits or requests
          pattern: ^([+-]?[0-9.]+)([eEinumkKMGTP]*[-+]?[0-9]*)$
          type: string
      type: object
    ConnectorNamespaceMeta:
      allOf:
      - $ref: '#/components/schemas/ObjectMeta'
      - $ref: '#/components/schemas/ConnectorNamespaceRequestMeta'
      - $ref: '#/components/schemas/ConnectorNamespaceMeta_allOf'
    ConnectorNamespaceTenantKind:
      enum:
      - user
      - organisation
      type: string
    ConnectorNamespaceTenant:
      properties:
        kind:
          $ref: '#/components/schemas/ConnectorNamespaceTenantKind'
        id:
          description: Either user or organisation id depending on the value of kind
          type: string
      required:
      - id
      - kind
      type: object
    ConnectorNamespaceRequest:
      allOf:
      - $ref: '#/components/schemas/ConnectorNamespaceRequestMeta'
      - $ref: '#/components/schemas/ConnectorNamespaceRequest_allOf'
      description: A connector namespace create request
      required:
      - cluster_id
      - kind
      - name
    ConnectorNamespacePatchRequest:
      allOf:
      - $ref: '#/components/schemas/ConnectorNamespaceRequestMeta'
      - type: object
      description: A connector namespace patch request
    ConnectorNamespaceEvalRequest:
      allOf:
      - $ref: '#/components/schemas/ConnectorNamespaceRequestMeta'
      description: An evaluation connector namespace create request
    ConnectorNamespaceList:
      allOf:
      - $ref: '#/components/schemas/List'
      - $ref: '#/components/schemas/ConnectorNamespaceList_allOf'
    ConnectorNamespaceState:
      enum:
      - disconnected
      - ready
      - deleting
      - deleted
      type: string
    ConnectorNamespaceStatus:
      properties:
        state:
          $ref: '#/components/schemas/ConnectorNamespaceState'
        version:
          type: string
        connectors_deployed:
          format: int32
          type: integer
        error:
          type: string
      required:
      - connectors_deployed
      - state
      type: object
    ConnectorNamespace:
      allOf:
      - $ref: '#/components/schemas/ObjectReference'
      - $ref: '#/components/schemas/ConnectorNamespaceMeta'
      - $ref: '#/components/schemas/ConnectorNamespace_allOf'
      description: A connector namespace
    MemoryQuota:
      description: Memory quota for limits or requests
      pattern: ^([+-]?[0-9.]+)([eEinumkKMGTP]*[-+]?[0-9]*)$
      type: string
    CpuQuota:
      description: CPU quota for limits or requests
      pattern: ^([+-]?[0-9.]+)([eEinumkKMGTP]*[-+]?[0-9]*)$
      type: string
    VersionMetadata_allOf:
      example:
        kind: APIVersion
        id: v1
        href: /api/connector_mgmt/v1
        collections:
        - id: kafkas
          href: /api/connector_mgmt/v1/kafka_connectors
          kind: ConnectorList
      properties:
        collections:
          items:
            allOf:
            - $ref: '#/components/schemas/ObjectReference'
          type: array
      type: object
    ConnectorClusterStatus_status:
      properties:
        state:
          $ref: '#/components/schemas/ConnectorClusterState'
        error:
          type: string
      type: object
    ConnectorClusterList_allOf:
      properties:
        items:
          items:
            $ref: '#/components/schemas/ConnectorCluster'
          type: array
      type: object
    ConnectorMeta_allOf:
      properties:
        resource_version:
          format: int64
          type: integer
      type: object
    ConnectorStatus_status:
      properties:
        state:
          $ref: '#/components/schemas/ConnectorState'
        error:
          type: string
      type: object
    ConnectorList_allOf:
      properties:
        items:
          items:
            $ref: '#/components/schemas/Connector'
          type: array
      type: object
    ConnectorType_allOf:
      properties:
        name:
          description: Name of the connector type.
          type: string
        version:
          description: Version of the connector type.
          type: string
        channels:
          description: Channels of the connector type.
          items:
            $ref: '#/components/schemas/Channel'
          type: array
        description:
          description: A description of the connector.
          type: string
        icon_href:
          description: URL to an icon of the connector.
          type: string
        labels:
          description: Labels used to categorize the connector
          items:
            type: string
          type: array
        annotations:
          additionalProperties:
            type: string
          description: Name-value string annotations for resource
          type: object
        featured_rank:
          description: Ranking for featured connectors
          format: int32
          type: integer
        capabilities:
          description: The capabilities supported by the connector
          items:
            type: string
          type: array
        schema:
          description: A json schema that can be used to validate a ConnectorRequest
            connector field.
          type: object
      type: object
    ConnectorTypeList_allOf:
      properties:
        items:
          items:
            $ref: '#/components/schemas/ConnectorType'
          type: array
      type: object
    ConnectorNamespaceMeta_allOf:
      properties:
        resource_version:
          format: int64
          type: integer
        quota:
          $ref: '#/components/schemas/ConnectorNamespaceQuota'
      type: object
    ConnectorNamespaceRequest_allOf:
      properties:
        cluster_id:
          type: string
        kind:
          $ref: '#/components/schemas/ConnectorNamespaceTenantKind'
      type: object
    ConnectorNamespaceList_allOf:
      properties:
        items:
          items:
            $ref: '#/components/schemas/ConnectorNamespace'
          type: array
      type: object
    ConnectorNamespace_allOf:
      properties:
        name:
          type: string
        cluster_id:
          type: string
        expiration:
          description: Namespace expiration timestamp in RFC 3339 format
          type: string
        tenant:
          $ref: '#/components/schemas/ConnectorNamespaceTenant'
        status:
          $ref: '#/components/schemas/ConnectorNamespaceStatus'
      required:
      - cluster_id
      - id
      - name
      - resource_version
      - status
      - tenant
      type: object
  securitySchemes:
    Bearer:
      bearerFormat: JWT
      scheme: bearer
      type: http

