openapi: 3.0.2
info:
  contact:
    email: rhosak-eval-support@redhat.com
    name: Red Hat Hybrid Cloud Console
    url: https://console.redhat.com/application-services/service-registry/
  description: Service Registry Fleet Manager is a REST API for managing Service Registry
    instances. Service Registry is a datastore for event schemas and API designs,
    which is based on the open source Apicurio Registry project.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: Service Registry Fleet Manager
  version: 0.0.6
servers:
- description: Main (production) server
  url: https://api.openshift.com
- description: Staging server
  url: https://api.stage.openshift.com
- description: localhost
  url: http://localhost:8000
- description: current domain
  url: /
paths:
  /api/serviceregistry_mgmt/v1/registries:
    get:
      operationId: getRegistries
      parameters:
      - description: Page index.
        examples:
          page:
            value: "0"
        explode: true
        in: query
        name: page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items in each page.
        examples:
          size:
            value: "100"
        explode: true
        in: query
        name: size
        required: false
        schema:
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: "Specifies the order by criteria. The syntax of this parameter\
          \ is\nsimilar to the syntax of the _order by_ clause of an SQL statement.\n\
          Each query can be ordered by any of the request fields.\nFor example, to\
          \ retrieve all Registry instances ordered by their name:\n\n```sql\nname\
          \ asc\n```\n\nOr to retrieve all Registry instances ordered by their name\
          \ _and_ created date:\n\n```sql\nname asc, created_at asc\n```\n\nIf the\
          \ parameter isn't provided, or if the value is empty, \nthe results are\
          \ ordered by name."
        examples:
          orderBy:
            value: name asc
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: "Search criteria.\n\nThe syntax of this parameter is similar\
          \ to the syntax of the _where_ clause of an\nSQL statement. Allowed fields\
          \ in the search are: `name`, `status`. Allowed comparators are `=` or `LIKE`.\n\
          Allowed joins are `AND` and `OR`, however there is a limit of max 10 joins\
          \ in the search query.\n\nExamples:\n\nTo retrieve a request with name equal\
          \ `my-registry`, the value should be:\n\n```\nname = my-registry \n```\n\
          \nTo retrieve a request with its name starting with `my`, the value should\
          \ be:\n\n```\nname like my%25\n```\n\nIf the parameter isn't provided, or\
          \ if the value is empty, all the Registry instances\nthat the user has permission\
          \ to see are returned.\n\nNote: If the query is invalid, an error is returned.\n"
        examples:
          search:
            value: name = my-registry and status = AVAILABLE
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryList'
          description: A successful response.
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid.
        "403":
          content:
            application/json:
              examples:
                "403Example":
                  $ref: '#/components/examples/403Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to access the service.
        "500":
          content:
            application/json:
              examples:
                "500Example":
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred.
      security:
      - Bearer: []
      summary: Get the list of all Registry instances
      tags:
      - Registries
      x-accepts: application/json
    post:
      operationId: createRegistry
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistryCreate'
        description: A new `Registry` instance to be created.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registry'
          description: A successful response. The full request to create a new `Registry`
            instance is processed asynchronously. The user should verify the result
            of the operation by reading the `status` property of the created `Registry`
            instance.
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid.
        "403":
          content:
            application/json:
              examples:
                "403Example":
                  $ref: '#/components/examples/403Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to access the service.
        "500":
          content:
            application/json:
              examples:
                "500Example":
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred.
      security:
      - Bearer: []
      summary: Create a new Registry instance
      tags:
      - Registries
      x-contentType: application/json
      x-accepts: application/json
    summary: Manage the list of all Registry instances
  /api/serviceregistry_mgmt/v1/registries/{id}:
    delete:
      description: 'Deletes an existing `Registry` instance and all of the data that
        it stores. Important: Users should export the registry data before deleting
        the instance, e.g., using the Service Registry web console, core REST API,
        or `rhoas` CLI.'
      operationId: deleteRegistry
      parameters:
      - description: A unique identifier for a `Registry` instance.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Successful response.
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              examples:
                "403Example":
                  $ref: '#/components/examples/403Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to access the service.
        "404":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: No Service Registry instance with the specified id exists
      security:
      - Bearer: []
      summary: Delete a Registry instance
      tags:
      - Registries
      x-accepts: application/json
    get:
      description: Gets the details of a single instance of a `Registry`.
      operationId: getRegistry
      parameters:
      - description: A unique identifier for a `Registry` instance.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registry'
          description: Successful response - returns a single `Registry` instance.
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid.
        "403":
          content:
            application/json:
              examples:
                "403Example":
                  $ref: '#/components/examples/403Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to access the service.
        "404":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: No Service Registry instance with specified id exists.
      security:
      - Bearer: []
      summary: Get a Registry instance
      tags:
      - Registries
      x-accepts: application/json
    summary: Manage a specific Registry instance
  /api/serviceregistry_mgmt/v1/errors/{id}:
    get:
      operationId: getError
      parameters:
      - description: A unique identifier for an error type.
        explode: false
        in: path
        name: id
        required: true
        schema:
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Successful response - returns a single `Error`.
        "404":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: No Service Registry with the specified id exists.
        "500":
          content:
            application/json:
              examples:
                "500Example":
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred.
      security: []
      summary: Get information about a specific error type
      tags:
      - Errors
      x-accepts: application/json
    summary: Get information about a specific error type.
  /api/serviceregistry_mgmt/v1/errors:
    get:
      operationId: getErrors
      parameters:
      - description: Page index.
        examples:
          page:
            value: "0"
        explode: true
        in: query
        name: page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items in each page.
        examples:
          size:
            value: "100"
        explode: true
        in: query
        name: size
        required: false
        schema:
          maximum: 500
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: A successful response.
        "500":
          content:
            application/json:
              examples:
                "500Example":
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security: []
      summary: Get the list of all errors
      tags:
      - Errors
      x-accepts: application/json
    summary: Get the list of all errors.
  /api/serviceregistry_mgmt/v1/status:
    get:
      operationId: getServiceStatus
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceStatus'
          description: Successfully returned service status.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal error retrieving service status.
      security:
      - Bearer: []
      summary: Get the service status
      x-accepts: application/json
    summary: Retrieves the status of resources e.g., whether we have reached maximum
      service capacity
components:
  examples:
    "404Example":
      value:
        id: "404"
        kind: Error
        href: /api/managed-services-api/v1/errors/7
        code: MGD-SERV-API-7
        reason: The requested resource doesn't exist.
    "401Example":
      value:
        id: "11"
        kind: Error
        href: /api/serviceregistry_mgmt/v1/errors/11
        code: CLOUD-SERV-API-11
        reason: 'Unable to verify JWT token: Required authorization token not found.'
        operation_id: 1iY3UhEhwmXBpWPfI2lNekpd4ZD
    "403Example":
      value:
        id: "4"
        kind: Error
        href: /api/serviceregistry_mgmt/v1/errors/4
        code: MGD-SERV-API-4
        reason: User 'foo-bar' is not authorized to access the service.
        operation_id: 1lY3UiEhznXBpWPfI2lNejpd4YC
    "500Example":
      value:
        id: "9"
        kind: Error
        href: /api/serviceregistry_mgmt/v1/errors/9
        code: MGD-SERV-API-9
        reason: Unspecified error.
        operation_id: 1ieELvF9jMQY6YghfM9gGRsHvEW
  parameters:
    id:
      description: The id of record.
      explode: false
      in: path
      name: id
      required: true
      schema:
        type: string
      style: simple
    page:
      description: Page index.
      examples:
        page:
          value: "0"
      explode: true
      in: query
      name: page
      required: false
      schema:
        minimum: 0
        type: integer
      style: form
    size:
      description: Number of items in each page.
      examples:
        size:
          value: "100"
      explode: true
      in: query
      name: size
      required: false
      schema:
        maximum: 500
        minimum: 1
        type: integer
      style: form
    orderBy:
      description: "Specifies the order by criteria. The syntax of this parameter\
        \ is\nsimilar to the syntax of the _order by_ clause of an SQL statement.\n\
        Each query can be ordered by any of the request fields.\nFor example, to retrieve\
        \ all Registry instances ordered by their name:\n\n```sql\nname asc\n```\n\
        \nOr to retrieve all Registry instances ordered by their name _and_ created\
        \ date:\n\n```sql\nname asc, created_at asc\n```\n\nIf the parameter isn't\
        \ provided, or if the value is empty, \nthe results are ordered by name."
      examples:
        orderBy:
          value: name asc
      explode: true
      in: query
      name: orderBy
      required: false
      schema:
        type: string
      style: form
    search:
      description: "Search criteria.\n\nThe syntax of this parameter is similar to\
        \ the syntax of the _where_ clause of an\nSQL statement. Allowed fields in\
        \ the search are: `name`, `status`. Allowed comparators are `=` or `LIKE`.\n\
        Allowed joins are `AND` and `OR`, however there is a limit of max 10 joins\
        \ in the search query.\n\nExamples:\n\nTo retrieve a request with name equal\
        \ `my-registry`, the value should be:\n\n```\nname = my-registry \n```\n\n\
        To retrieve a request with its name starting with `my`, the value should be:\n\
        \n```\nname like my%25\n```\n\nIf the parameter isn't provided, or if the\
        \ value is empty, all the Registry instances\nthat the user has permission\
        \ to see are returned.\n\nNote: If the query is invalid, an error is returned.\n"
      examples:
        search:
          value: name = my-registry and status = AVAILABLE
      explode: true
      in: query
      name: search
      required: false
      schema:
        type: string
      style: form
  schemas:
    Error:
      allOf:
      - $ref: '#/components/schemas/ObjectReference'
      - $ref: '#/components/schemas/Error_allOf'
    ErrorList:
      allOf:
      - $ref: '#/components/schemas/List'
      - $ref: '#/components/schemas/ErrorList_allOf'
    List:
      properties:
        kind:
          type: string
        page:
          type: integer
        size:
          type: integer
        total:
          type: integer
      required:
      - items
      - kind
      - page
      - size
      - total
      type: object
    ObjectReference:
      properties:
        id:
          type: string
        kind:
          type: string
        href:
          type: string
      type: object
    Registry:
      allOf:
      - $ref: '#/components/schemas/ObjectReference'
      - $ref: '#/components/schemas/Root_type_for_Registry'
    RegistryCreate:
      description: Information used to create a new Service Registry instance in a
        multi-tenant deployment.
      example:
        name: my-registry
        description: This Registry instance is for a development environment only.
      properties:
        name:
          description: User-defined Registry instance name. Required. Does not have
            to be unique.
          maxLength: 32
          minLength: 1
          pattern: '[a-z]([a-z0-9\-]*[a-z0-9])?'
          type: string
        description:
          description: User-provided description of the new Service Registry instance.
            Not required.
          maxLength: 255
          type: string
      title: Root type for RegistryCreate
      type: object
    RegistryList:
      allOf:
      - $ref: '#/components/schemas/List'
      - $ref: '#/components/schemas/RegistryList_allOf'
    RegistryStatusValue:
      description: |
        "accepted": Registry status when accepted for processing.

        "provisioning": Registry status when provisioning a new instance.

        "ready": Registry status when ready for use.

        "failed": Registry status when the provisioning failed. When removing a Registry instance in this state,
        the status transitions directly to "deleting".


        "deprovision": Registry status when accepted for deprovisioning.

        "deleting": Registry status when deprovisioning.
      enum:
      - accepted
      - provisioning
      - ready
      - failed
      - deprovision
      - deleting
      type: string
    RegistryInstanceTypeValue:
      description: |
        "standard": Standard, full-featured Registry instance

        "eval": Evaluation (Trial) instance, provided for a limited time
      enum:
      - standard
      - eval
      type: string
    ServiceStatus:
      description: Schema for the service status response body
      example:
        max_instances_reached: true
      properties:
        max_instances_reached:
          description: Boolean property indicating if the maximum number of total
            Registry instances have been reached, therefore creation of more instances
            should not be allowed.
          type: boolean
      title: Root type for ServiceStatus
      type: object
    Error_allOf:
      properties:
        code:
          type: string
        reason:
          type: string
        operation_id:
          type: string
      type: object
    ErrorList_allOf:
      properties:
        items:
          items:
            $ref: '#/components/schemas/Error'
          type: array
      type: object
    Root_type_for_Registry:
      description: Service Registry instance in a multi-tenant deployment.
      example:
        id: "42"
        name: my-registry
        registryUrl: https://registry.apps.example.com/t/5213600b-afc9-487e-8cc3-339f4248d706
        browserUrl: https://registry-ui.apps.example.com/t/5213600b-afc9-487e-8cc3-339f4248d706
        status:
          status: PROVISIONING
          lastUpdated: 2021-05-04T12:34:56Z
        registryDeploymentId: 1
        owner: ownername
      properties:
        id:
          type: string
        status:
          $ref: '#/components/schemas/RegistryStatusValue'
        registryUrl:
          type: string
        browserUrl:
          type: string
        name:
          description: User-defined Registry instance name. Does not have to be unique.
          type: string
        registryDeploymentId:
          description: Identifier of a multi-tenant deployment, where this Service
            Registry instance resides.
          type: integer
        owner:
          description: Registry instance owner.
          type: string
        description:
          description: Description of the Registry instance.
          type: string
        created_at:
          description: ISO 8601 UTC timestamp.
          format: date-time
          type: string
        updated_at:
          description: ISO 8601 UTC timestamp.
          format: date-time
          type: string
        instance_type:
          $ref: '#/components/schemas/RegistryInstanceTypeValue'
      required:
      - created_at
      - id
      - instance_type
      - status
      - updated_at
      title: Root type for Registry
      type: object
    RegistryList_allOf:
      example:
        kind: RegistryList
        page: "1"
        size: "1"
        total: "1"
        item:
          id: llmNteR4P7waRp5nJIReG
          kind: serviceregistry
          href: /api/serviceregistry_mgmt/v1/registries/llmNteR4P7waRp5nJIReG
          name: sample-registry
          status: ready
          owner: some_id
          registryUrl: https://somehost:433/t/12345
          browserUrl: https://someuihost:443/registries/12345
      properties:
        items:
          items:
            $ref: '#/components/schemas/Registry'
          type: array
      required:
      - items
      type: object
  securitySchemes:
    Bearer:
      bearerFormat: JWT
      scheme: bearer
      type: http

