/*
 * Red Hat Openshift SmartEvents Fleet Manager
 * The API exposed by the fleet manager of the SmartEvents service.
 *
 * The version of the OpenAPI document: 0.0.2
 * Contact: openbridge-dev@redhat.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.openshift.cloud.api.smartevents;

import com.openshift.cloud.api.smartevents.invoker.ApiClient;
import com.openshift.cloud.api.smartevents.invoker.ApiException;
import com.openshift.cloud.api.smartevents.invoker.ApiResponse;
import com.openshift.cloud.api.smartevents.invoker.Pair;

import com.openshift.cloud.api.smartevents.models.ManagedResourceStatus;
import com.openshift.cloud.api.smartevents.models.ProcessorListResponse;
import com.openshift.cloud.api.smartevents.models.ProcessorRequest;
import com.openshift.cloud.api.smartevents.models.ProcessorResponse;
import com.openshift.cloud.api.smartevents.models.ProcessorType;
import java.util.Set;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;
import java.util.function.Consumer;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;

@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen")
public class ProcessorsApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public ProcessorsApi() {
    this(new ApiClient());
  }

  public ProcessorsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Create a Processor of a Bridge instance
   * Create a Processor of a Bridge instance for the authenticated user.
   * @param bridgeId  (required)
   * @param processorRequest  (optional)
   * @return ProcessorResponse
   * @throws ApiException if fails to make API call
   */
  public ProcessorResponse processorsAPIAddProcessorToBridge(String bridgeId, ProcessorRequest processorRequest) throws ApiException {
    ApiResponse<ProcessorResponse> localVarResponse = processorsAPIAddProcessorToBridgeWithHttpInfo(bridgeId, processorRequest);
    return localVarResponse.getData();
  }

  /**
   * Create a Processor of a Bridge instance
   * Create a Processor of a Bridge instance for the authenticated user.
   * @param bridgeId  (required)
   * @param processorRequest  (optional)
   * @return ApiResponse&lt;ProcessorResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ProcessorResponse> processorsAPIAddProcessorToBridgeWithHttpInfo(String bridgeId, ProcessorRequest processorRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = processorsAPIAddProcessorToBridgeRequestBuilder(bridgeId, processorRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("processorsAPIAddProcessorToBridge", localVarResponse);
        }
        return new ApiResponse<ProcessorResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ProcessorResponse>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder processorsAPIAddProcessorToBridgeRequestBuilder(String bridgeId, ProcessorRequest processorRequest) throws ApiException {
    // verify the required parameter 'bridgeId' is set
    if (bridgeId == null) {
      throw new ApiException(400, "Missing the required parameter 'bridgeId' when calling processorsAPIAddProcessorToBridge");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/bridges/{bridgeId}/processors"
        .replace("{bridgeId}", ApiClient.urlEncode(bridgeId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(processorRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Delete a Processor of a Bridge instance
   * Delete a Processor of a Bridge instance for the authenticated user.
   * @param bridgeId  (required)
   * @param processorId  (required)
   * @throws ApiException if fails to make API call
   */
  public void processorsAPIDeleteProcessor(String bridgeId, String processorId) throws ApiException {
    processorsAPIDeleteProcessorWithHttpInfo(bridgeId, processorId);
  }

  /**
   * Delete a Processor of a Bridge instance
   * Delete a Processor of a Bridge instance for the authenticated user.
   * @param bridgeId  (required)
   * @param processorId  (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> processorsAPIDeleteProcessorWithHttpInfo(String bridgeId, String processorId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = processorsAPIDeleteProcessorRequestBuilder(bridgeId, processorId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("processorsAPIDeleteProcessor", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder processorsAPIDeleteProcessorRequestBuilder(String bridgeId, String processorId) throws ApiException {
    // verify the required parameter 'bridgeId' is set
    if (bridgeId == null) {
      throw new ApiException(400, "Missing the required parameter 'bridgeId' when calling processorsAPIDeleteProcessor");
    }
    // verify the required parameter 'processorId' is set
    if (processorId == null) {
      throw new ApiException(400, "Missing the required parameter 'processorId' when calling processorsAPIDeleteProcessor");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/bridges/{bridgeId}/processors/{processorId}"
        .replace("{bridgeId}", ApiClient.urlEncode(bridgeId.toString()))
        .replace("{processorId}", ApiClient.urlEncode(processorId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Get a Processor of a Bridge instance
   * Get a Processor of a Bridge instance for the authenticated user.
   * @param bridgeId  (required)
   * @param processorId  (required)
   * @return ProcessorResponse
   * @throws ApiException if fails to make API call
   */
  public ProcessorResponse processorsAPIGetProcessor(String bridgeId, String processorId) throws ApiException {
    ApiResponse<ProcessorResponse> localVarResponse = processorsAPIGetProcessorWithHttpInfo(bridgeId, processorId);
    return localVarResponse.getData();
  }

  /**
   * Get a Processor of a Bridge instance
   * Get a Processor of a Bridge instance for the authenticated user.
   * @param bridgeId  (required)
   * @param processorId  (required)
   * @return ApiResponse&lt;ProcessorResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ProcessorResponse> processorsAPIGetProcessorWithHttpInfo(String bridgeId, String processorId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = processorsAPIGetProcessorRequestBuilder(bridgeId, processorId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("processorsAPIGetProcessor", localVarResponse);
        }
        return new ApiResponse<ProcessorResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ProcessorResponse>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder processorsAPIGetProcessorRequestBuilder(String bridgeId, String processorId) throws ApiException {
    // verify the required parameter 'bridgeId' is set
    if (bridgeId == null) {
      throw new ApiException(400, "Missing the required parameter 'bridgeId' when calling processorsAPIGetProcessor");
    }
    // verify the required parameter 'processorId' is set
    if (processorId == null) {
      throw new ApiException(400, "Missing the required parameter 'processorId' when calling processorsAPIGetProcessor");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/bridges/{bridgeId}/processors/{processorId}"
        .replace("{bridgeId}", ApiClient.urlEncode(bridgeId.toString()))
        .replace("{processorId}", ApiClient.urlEncode(processorId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Get the list of Processors of a Bridge instance
   * Get the list of Processors of a Bridge instance for the authenticated user.
   * @param bridgeId  (required)
   * @param name  (optional)
   * @param page  (optional, default to 0)
   * @param size  (optional, default to 100)
   * @param status  (optional
   * @param type  (optional)
   * @return ProcessorListResponse
   * @throws ApiException if fails to make API call
   */
  public ProcessorListResponse processorsAPIListProcessors(String bridgeId, String name, Integer page, Integer size, Set<ManagedResourceStatus> status, ProcessorType type) throws ApiException {
    ApiResponse<ProcessorListResponse> localVarResponse = processorsAPIListProcessorsWithHttpInfo(bridgeId, name, page, size, status, type);
    return localVarResponse.getData();
  }

  /**
   * Get the list of Processors of a Bridge instance
   * Get the list of Processors of a Bridge instance for the authenticated user.
   * @param bridgeId  (required)
   * @param name  (optional)
   * @param page  (optional, default to 0)
   * @param size  (optional, default to 100)
   * @param status  (optional
   * @param type  (optional)
   * @return ApiResponse&lt;ProcessorListResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ProcessorListResponse> processorsAPIListProcessorsWithHttpInfo(String bridgeId, String name, Integer page, Integer size, Set<ManagedResourceStatus> status, ProcessorType type) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = processorsAPIListProcessorsRequestBuilder(bridgeId, name, page, size, status, type);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("processorsAPIListProcessors", localVarResponse);
        }
        return new ApiResponse<ProcessorListResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ProcessorListResponse>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder processorsAPIListProcessorsRequestBuilder(String bridgeId, String name, Integer page, Integer size, Set<ManagedResourceStatus> status, ProcessorType type) throws ApiException {
    // verify the required parameter 'bridgeId' is set
    if (bridgeId == null) {
      throw new ApiException(400, "Missing the required parameter 'bridgeId' when calling processorsAPIListProcessors");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/bridges/{bridgeId}/processors"
        .replace("{bridgeId}", ApiClient.urlEncode(bridgeId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("name", name));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("size", size));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("multi", "status", status));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("type", type));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Update a Processor instance Filter definition or Transformation template.
   * Update a Processor instance Filter definition or Transformation template for the authenticated user.
   * @param bridgeId  (required)
   * @param processorId  (required)
   * @param processorRequest  (optional)
   * @return ProcessorResponse
   * @throws ApiException if fails to make API call
   */
  public ProcessorResponse processorsAPIUpdateProcessor(String bridgeId, String processorId, ProcessorRequest processorRequest) throws ApiException {
    ApiResponse<ProcessorResponse> localVarResponse = processorsAPIUpdateProcessorWithHttpInfo(bridgeId, processorId, processorRequest);
    return localVarResponse.getData();
  }

  /**
   * Update a Processor instance Filter definition or Transformation template.
   * Update a Processor instance Filter definition or Transformation template for the authenticated user.
   * @param bridgeId  (required)
   * @param processorId  (required)
   * @param processorRequest  (optional)
   * @return ApiResponse&lt;ProcessorResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ProcessorResponse> processorsAPIUpdateProcessorWithHttpInfo(String bridgeId, String processorId, ProcessorRequest processorRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = processorsAPIUpdateProcessorRequestBuilder(bridgeId, processorId, processorRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("processorsAPIUpdateProcessor", localVarResponse);
        }
        return new ApiResponse<ProcessorResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ProcessorResponse>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder processorsAPIUpdateProcessorRequestBuilder(String bridgeId, String processorId, ProcessorRequest processorRequest) throws ApiException {
    // verify the required parameter 'bridgeId' is set
    if (bridgeId == null) {
      throw new ApiException(400, "Missing the required parameter 'bridgeId' when calling processorsAPIUpdateProcessor");
    }
    // verify the required parameter 'processorId' is set
    if (processorId == null) {
      throw new ApiException(400, "Missing the required parameter 'processorId' when calling processorsAPIUpdateProcessor");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/bridges/{bridgeId}/processors/{processorId}"
        .replace("{bridgeId}", ApiClient.urlEncode(bridgeId.toString()))
        .replace("{processorId}", ApiClient.urlEncode(processorId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(processorRequest);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
}
