name: mvn-deploy
on:
  push:
    tags:
      - "*"
jobs:
  npm-publish:
    name: mvn-publishdeploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Use Node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: '14'        
      - name: Use Java 15
        uses: actions/setup-java@v2
        with:
              distribution: 'adopt'
              java-version: '15'
              check-latest: true
              server-id: ossrh
              server-username: MAVEN_USERNAME
              server-password: MAVEN_PASSWORD
      - id: install-secret-key
        name: Install gpg secret key
        run: |
          cat <(echo -e "${{ secrets.OSSRH_GPG_SECRET_KEY }}") | gpg --batch --import
          gpg --list-secret-keys --keyid-format LONG              
      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v4
      - name: Validate Tag
        run: npx semver $GITHUB_REF_SLUG
      - name: Version kafka-management-sdk
        working-directory: ./packages/kafka-management-sdk
        run : mvn versions:set -DnewVersion=$GITHUB_REF_SLUG
      - name: Version kafka-instance-sdk
        working-directory: ./packages/kafka-instance-sdk
        run : mvn versions:set -DnewVersion=$GITHUB_REF_SLUG
      - name: Version registry-management-sdk
        working-directory: ./packages/registry-management-sdk
        run : mvn versions:set -DnewVersion=$GITHUB_REF_SLUG                
      - name: Version connector-management-sdk
        working-directory: ./packages/connector-management-sdk
        run : mvn versions:set -DnewVersion=$GITHUB_REF_SLUG       
      - name: Version service-account-management-sdk
        working-directory: ./packages/service-accounts-management-sdk
        run : mvn versions:set -DnewVersion=$GITHUB_REF_SLUG   
      - name: Version smartevents
        working-directory: ./packages/smart-events-management-sdk
        run : mvn versions:set -DnewVersion=$GITHUB_REF_SLUG            
      - name: Build sdks
        run : mvn package -Prelease                         
      - name: Publish kafka-management-sdk
        working-directory: ./packages/kafka-management-sdk
        run: mvn --batch-mode -Prelease      -Dgpg.passphrase=${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }}  deploy
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
      - name: Publish kafka-instance-sdk
        working-directory: ./packages/kafka-instance-sdk
        run: mvn --batch-mode -Prelease      -Dgpg.passphrase=${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }} deploy
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
      - name: Publish registry-management-sdk
        working-directory: ./packages/registry-management-sdk
        run: mvn --batch-mode -Prelease      -Dgpg.passphrase=${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }} deploy
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
      - name: Publish connector-management-sdk
        working-directory: ./packages/connector-management-sdk
        run: mvn --batch-mode -Prelease      -Dgpg.passphrase=${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }} deploy
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}        
      - name: Publish smart-events-management-sdk
        working-directory: ./packages/smart-events-management-sdk
        run: mvn --batch-mode -Prelease      -Dgpg.passphrase=${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }}  deploy
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}  
      - name: Publish service accounts
        working-directory: ./packages/service-accounts-management-sdk
        run: mvn --batch-mode -Prelease      -Dgpg.passphrase=${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }}  deploy
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}  
      - name: Install git-chglog
        uses: craicoverflow/install-git-chglog@v1
      - name: Generate changelog
        run: |
          echo "CHANGELOG<<EOF" >> $GITHUB_ENV
          echo "$(git-chglog $GITHUB_REF_SLUG 2> /dev/null || echo '**PRERELEASE**')" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV
      - name: Update Release Notes
        uses: meeDamian/github-release@2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          body: ${{ env.CHANGELOG }}
          allow_override: true